{{#each this}}
<div class="comments card mx-auto col-sm-10 my-5 py-3 text-center">
  <section class="comment">
    <div class="meta">
      {{user.name}}
      {{!-- on --}}
      {{post.date_created}}
    </div>
    <div class="text ">
      {{comment_body}}
      <hr>
    </div>
  </section>
</div>
{{/each}}