<div class="row justify-content-center py-5">
<div class="row justify-content-center border border-5 border-custom rounded p-3 col-sm-10 col-md-8 col-lg-6" id="createac-card">
    <h2>Create an new account</h2>

    <form class="form signup-form row container justify-content-center">
        <div class="form-group row col-10 py-2">
            <label>Name:</label>
            <input class="form-input" type="text" id="name-signup" placeholder="Furever Friend"/>
        </div>
        <div class="form-group row col-10 py-2">
            <label>Email:</label>
            <input class="form-input" type="text" id="email-signup" placeholder="ohmydog@gmail.com"/>
        </div>
        <div class="form-group row col-10 py-2">
            <label>Password:</label>
            <input class="form-input" type="password" id="password-signup" placeholder="secret furry password"/>
        </div>
        {{!-- <div class="form-group">
            <label for="password-confirm">Confirm password:</label>
            <input class="form-input" type="password" id="password-confirm" />
        </div> --}}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">signup</button>
        </div>
    </form>
    </div>
</div>

<script src="/js/createac.js"></script>