<div class="col">

    <h2>Create an new account</h2>

    <form class="form signup-form">
        <div class="form-group">
            <label for="name-signup">name:</label>
            <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
            <label for="email-signup">email:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <label for="password-confirm">Confirm password:</label>
            <input class="form-input" type="password" id="password-confirm" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">signup</button>
        </div>
    </form>
</div>