<div class="row justify-content-center py-5">
    <div class="row justify-content-center border border-5 border-custom rounded p-3 col-sm-10 col-md-8 col-lg-6"
        id="login-card">
        <div class="col-sm-8 text-center py-3">
            <video id="logo" width="100%" height="100%" autoplay loop muted>
                <source src="/image/dog-video.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
            <img src="/image/title.png" class="title" style="width: 30vw;" alt="Furever Friends title">
        </div>

        <div class="col-sm-8 justify-content-center">

            <form class="row container justify-content-center" id="login-form">
                <div class="row col-10 py-2">
                    <input class="form-input" placeholder="Email Address" type="text" id="email-login" />
                </div>
                <div class="row col-10 py-2">
                    <input class="form-input" placeholder="Enter Password" type="password" id="password-login" />
                </div>
                <div class="row col-8 my-2">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <div class="row col-8 my-5">
                    <a href="/createac" class="btn btn-primary" id="createAccount">Create New Profile</a>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="/js/login.js"></script>