<div class="row justify-content-center py-5">
            <div class="row justify-content-center border border-5 border-custom rounded p-3 col-sm-10" id="login-card">
                <div class="col-sm-8 text-center py-3">
                    <img src="/image/furever-friends.png" class="rounded center-block py-2"
                        alt="Furever friends logo">
                    <h1>Furever Friends</h1>
                </div>

                <div class="col-sm-8 justify-content-center">
                    <h4>Login:</h4>
                    <form class="row container justify-content-center" id="login-form">
                        <div class="row col-10">
                            <label for="email-login">email:</label>
                            <input class="form-input" type="text" id="email-login" />
                        </div>
                        <div class="row col-10">
                            <label for="password-login">password:</label>
                            <input class="" type="password" id="password-login" />
                        </div>
                        <div class="row col-8 my-2">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                        <div class="row col-8 my-5">
                            <button class="btn btn-primary" id="createAccount">Create New Profile</button>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>

<script src="./js/login.js"></script>