<div class="row justify-content-center py-5">
            <div class="row justify-content-center border border-5 border-custom rounded p-3 col-sm-10 col-md-8 col-lg-6" id="login-card">
                <div class="col-sm-8 text-center py-3">
                    <img src="/image/Furever-Dog.png" class="rounded center-block py-2" style="width: 30vw;"
                        alt="Furever friends logo">
                    <h1>Furever Friends</h1>
                </div>

                <div class="col-sm-8 justify-content-center">

                    <form class="row container justify-content-center" id="login-form">
                        <div class="row col-10 py-2">
                            <input class="form-input" placeholder="Email Address" type="text" id="email-login" />
                        </div>
                        <div class="row col-10 py-2">
                            <input class="form-input" placeholder="Enter Password" type="password" id="password-login" />
                        </div>
                        <div class="row col-8 my-2">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                        <div class="row col-8 my-5">
                            <a href="/createac" class="btn btn-primary" id="createAccount">Create New Profile</a>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>

<script src="/JS/login.js"></script>