<div class="col-md-6">
    <h3>Create a new post:</h3>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">post title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-body">body:</label>
        <textarea class="form-input" id="post-body" name="post-body"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary create-btn">CREATE</button>
      </div>
    </form>
  </div>

<!-- Loop over each object in the posts -->
{{#each posts as |post|}}
  <div class="row justify-content-center">
    <div class="col-sml-8">
      <h2 id="post-title">
        {{post.title}}
      </h2>
      <p id="post-content">
        {{post.body}}
      </p>
       <p class="post-meta">Created by {{post.user.name}} on {{format_date post.date_created}}</p>

    </div>
  </div>
{{/each}}

<script src="/public/JS/login.js"></script>