<div class="row mt-4 profile-container">
    <div class="col-md-6 card profile">
        <div>
         <h2 class="create-profile" id="profileUserId" userid={{user_id}}>Welcome, {{name}}!</h2>
        <h3 class="create-profile">Create Your Profile</h3>
        </div>


    <form class="form new-profile-form">
      {{!-- Avatar --}}
      <div>
        <label id="avatar" for="avatar-list">Avatar</label>
        <div class="form-check">
          <input class="form-check-input avatar" type="checkbox" value="optionOne" id="optionOne">
          <label for="optionOne" class="avatar-label">
            <img src="https://res.cloudinary.com/dtah7hwfr/image/upload/v1669848816/fb4i2lvxy9broboiwxgt.png" width="50"
              height="50">
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input avatar" type="checkbox" value="optionTwo" id="optionTwo">
          <label for="optionTwo" class="avatar-label">
            <img src="https://res.cloudinary.com/dtah7hwfr/image/upload/v1669848825/p1hkg5okpewqwgrkbb51.png" width="50"
              height="50">
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input avatar" type="checkbox" value="optionThree" id="optionThree">
          <label for="optionThree" class="avatar-label">
            <img src="https://res.cloudinary.com/dtah7hwfr/image/upload/v1669848834/scmucgc2vxqyxo2tqizx.png" width="50"
              height="50">
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input avatar" type="checkbox" value="optionFour" id="optionFour">
          <label for="optionFour" class="avatar-label">
            <img src="https://res.cloudinary.com/dtah7hwfr/image/upload/v1669848849/wlvagpfrxvwwpivavd7c.png" width="50"
              height="50">
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input avatar" type="checkbox" value="optionFive" id="optionFive">
          <label for="optionFive" class="avatar-label">
            <img src="https://res.cloudinary.com/dtah7hwfr/image/upload/v1669848858/i9pxpxfsvhdykjidpemo.png" width="50"
              height="50">
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input avatar" type="checkbox" value="optionSix" id="optionSix">
          <label for="optionSix" class="avatar-label">
            <img src="https://res.cloudinary.com/dtah7hwfr/image/upload/v1669848868/znsrbq2xtinelrg977iy.png" width="50"
              height="50">
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input avatar" type="checkbox" value="optionSeven" id="optionSeven">
          <label for="optionSeven" class="avatar-label">
            <img src="https://res.cloudinary.com/dtah7hwfr/image/upload/v1669848877/uvfuseyhhwt0dap0akf9.png" width="50"
              height="50">
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input avatar" type="checkbox" value="optionEight" id="optionEight">
          <label for="optionEight" class="avatar-label">
            <img src="https://res.cloudinary.com/dtah7hwfr/image/upload/v1669848884/scpvsdm1budrhgulk4ew.png" width="50"
              height="50">
          </label>
        </div>
      </div>

      {{!-- Name --}}
      <div class="form-group profile-group">
        <label id="name" for="dog-name">Dog Name:</label>
        <input class="form-input profile-input" type="text" id="dog-name" name="dog-name" />
      </div>

      {{!-- Breed --}}
      <div class="form-group profile-group">
        <label id="breed" for="breed-list">Breed</label>
        <select multiple class="form-control" id="dog-breed">
          <option>Affenpinscher</option>
          <option>Afghan hound</option>
          <option>Airedale terrier</option>
          <option>Akita</option>
          <option>Alaskan Malamute</option>
          <option>American Staffordshire terrier</option>
          <option>American water spaniel</option>
          <option>Australian cattle dog</option>
          <option>Australian shepherd</option>
          <option>Australian terrier</option>
          <option>Basenji</option>
          <option>Basset hound</option>
          <option>Beagle</option>
          <option>Bearded collie</option>
          <option>Bedlington terrier</option>
          <option>Bernese mountain dog</option>
          <option>Bichon frise</option>
          <option>Black and tan coonhound</option>
          <option>Bloodhound</option>
          <option>Border collie</option>
          <option>Border terrier</option>
          <option>Borzoi</option>
          <option>Boston terrier</option>
          <option>Bouvier des Flandres</option>
          <option>Boxer</option>
          <option>Briard</option>
          <option>Brittany</option>
          <option>Brussels griffon</option>
          <option>Bull terrier</option>
          <option>Bulldog</option>
          <option>Bullmastiff</option>
          <option>Cairn terrier</option>
          <option>Canaan dog</option>
          <option>Chesapeake Bay retriever</option>
          <option>Chihuahua</option>
          <option>Chinese crested</option>
          <option>Chinese shar-pei</option>
          <option>Chow chow</option>
          <option>Cocker spaniel</option>
          <option>Collie</option>
          <option>Curly-coated retriever</option>
          <option>Dachshund</option>
          <option>Dalmatian</option>
          <option>Doberman pinscher</option>
          <option>Doodle Dog</option>
          <option>English cocker spaniel</option>
          <option>English setter</option>
          <option>English springer spaniel</option>
          <option>English toy spaniel</option>
          <option>Eskimo dog</option>
          <option>Fox terrier</option>
          <option>Foxhound</option>
          <option>French bulldog</option>
          <option>German shepherd</option>
          <option>Golden retriever</option>
          <option>Great Dane</option>
          <option>Greyhound</option>
          <option>Irish setter</option>
          <option>Irish water spaniel</option>
          <option>Jack Russell terrier</option>
          <option>Labrador retriever</option>
          <option>Labradoodle</option>
          <option>Lakeland terrier</option>
          <option>Lhasa apso</option>
          <option>Maltese</option>
          <option>Mastiff</option>
          <option>Mexican hairless</option>
          <option>Mutt</option>
          <option>Newfoundland</option>
          <option>Norwich terrier</option>
          <option>Otterhound</option>
          <option>Papillon</option>
          <option>Pekingese</option>
          <option>Pointer</option>
          <option>Pomeranian</option>
          <option>Poodle</option>
          <option>Pug</option>
          <option>Rottweiler</option>
          <option>Saint Bernard</option>
          <option>Samoyed</option>
          <option>Schnauzer</option>
          <option>Scottish terrier</option>
          <option>Shetland sheepdog</option>
          <option>Shih tzu</option>
          <option>Siberian husky</option>
          <option>Tibetan terrier</option>
          <option>Weimaraner</option>
          <option>Welsh terrier</option>
          <option>West Highland white terrier</option>
          <option>whippet</option>
          <option>Yorkshire terrier</option>
          <option>Other</option>
        </select>
      </div>

      {{!-- Gender --}}
      <div class="profile-group">
        <label id="dog-gender">Gender</label>
        <div class="form-check">
          <input class="form-check-input gender" type="checkbox" value="Male" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input gender" type="checkbox" value="Female" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Female
          </label>
        </div>
      </div>

      {{!-- Size --}}
      <div class="profile-group">
        <label id="dog-size">Size</label>
        <div class="form-check">
          <input class="form-check-input size" type="checkbox" value="Small" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Small
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input size" type="checkbox" value="Medium" id="defaultCheck1">
          <label class="form-check-label size" for="defaultCheck1">
            Medium
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input size" type="checkbox" value="Large" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Large
          </label>
        </div>
      </div>

      {{!-- Neighborhood --}}
      <div class="form-group profile-group">
        <label for="dog-neighborhood">Neighborhood:</label>
        <textarea class="form-input profile-input" id="dog-neighborhood" name="dog-neighborhood"></textarea>
      </div>

      {{!-- Hobbies --}}
      <div class="form-group profile-group">
        <label for="dog-hobbies">Hobbies:</label>
        <textarea class="form-input profile-input" id="dog-hobbies" name="dog-hobbies"></textarea>
      </div>

      {{!-- Submit Button --}}
      <div class="form-group submit-profile">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <script src="/js/profile.js"></script>