<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create Your New Furever Friend Profile</h3>

        <form class="form new-profile-form">
            <div class="form-group">
                <label for="dog-name">Dog Name:</label>
                <input class="form-input" type="text" id="dog-name" name="dog-name" />
            </div>
            <div class="form-group">
                <label for="dog-breed">Breed:</label>
                <input class="form-input" type ="text" id="dog-breed" name="dog-breed">
            </div>
            <div class="form-group">
                <label for="dog-gender">Gender:</label>
                <input class="form-input" type="text" id="dog-gender" name="dog-gender">
            </div>
            <div class="form-group">
                <label for="dog-size">Size:</label>
                <input class="form-input" type="text" id="dog-size" name="dog-size">
            </div>
            <div class="form-group">
                <label for="dog-neighborhood">Neighborhood:</label>
                <input class="form-input" type="text" id="dog-neighborhood" name="dog-neighborhood">
            </div>
            <div class="form-group">
                <label for="dog-hobbies">Hobbies:</label>
                <textarea class="form-input" id="dog-hobbies" name="dog-hobbies"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/profile.js"></script>