:root {
    --yellow: #F8EA8C;
    --light-blue: #A4E8E0;
    --cyan: #4CD7D0;
    --dark-yellow: #E1C340;
   
}
 * {
    font-family: 'Poppins', sans-serif;
 }

.navbar-custom {
    background-color: var(--light-blue);
}

a {
    text-decoration: none;
    color: white;
   
   
}

#banner {
    font-style: bolder;
    font-size: larger;
    text-shadow: var(--yellow);
}

.bg-image {
    background-image: url('../image/dogs.jpg');
    background-attachment: fixed;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    position: relative;
}

#login-card, #createac-card{
    background-color: var(--light-blue);
}

.border-custom {
    border-color: var(--cyan);
}

.btn-primary {
    font-style: bolder;
    background-color: var(--cyan);
    color: black;
}

.btn-primary:hover {
    background-color: var(--dark-yellow);
    color: black;
}

.btn-secondary {
    background-color: var(--cyan);
}

.btn-secondary:hover {
    background-color: var(--dark-yellow);
    color: white;
}
.btn-secondary:hover a {
    background-color: var(--dark-yellow);
    color: white;
}
.card {
    background-color: var(--light-blue);
}

footer {
    color: --cyan;
    background-color: var(--yellow);
    font-size: .625rem;
}

.justify-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-upload {
    display: flex;
    justify-content: center;   
}

textarea {
    width: 80%;
    height: 100px;
}

#comment-btn {
    width: 30rem;
    background-color: #4CD7D0;
    border-radius: 0.375rem;
    margin-bottom: 20px;
}

#comment-btn:hover {
    background-color: #E1C340;
    
}

.comment-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    margin-bottom: 5px;
}

.single-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-image {
    width: 50%;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.log-dog {
    border-color: black;
    border-style: groove;
}

.login-title {
    margin-top: .5rem;
}

.img-responsive {
    width: 50%;
}